
/*--------Aquí empieza la sección de productios destacados---------*/
.contenedor{
    padding: 30px;
    background-color: $color-fondo-destacados;
    color: white;
    text-align: center;
}

.contenedor2{
    text-align: center;
    background-color: $color-fondo-contenedor2;
    color:white;

    h2{
        margin: 0;
    }
  
}

