.contenedor{
    padding: 30px;
    background-color: $color-fondo-destacados;
    color: white;
    text-align: center;
}

.contenedor2{
    text-align: center;
    background-color: $color-fondo-contenedor2;
    color:white;
  
}

.contenedor2 h2{
    margin: 0;
}