/*Aquí empiezan los estilos del footer*/

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    a{
        color: white;
        &:hover{
            color: white;
            text-decoration: none;
        }


    }



}

