/*Aquí empieza la seccion de estilos de portada*/


.portada{

    /*Aquí empieza mi animación*/
 
    background-color: $color-portada;;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 3s;


    /*Aquí termina mi animación*/


   /* background-color: $color-portada;*/
    color: white;
    img{
        @include cero;
        width: 80%;

    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        @include cero;
        text-align: center;
        h1{
            font-size: 24px;
        }

    }
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: black;}
    to {background-color: $color-portada;;}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {background-color:black;}
    to {background-color: $color-portada;;}
  }


.centrarImagen{
    display: flex;
    justify-content: center;
    align-items: center;
}



